body {
    background-color: black !important; /*#202729*/
    color: white !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #909090;
    margin: 1em 0;
    padding: 5px;
}

.content-block {
    margin-top: 5%;
    padding: 35px;
    background-color: #fefefe;
    color: #292d2f;
    display: block;
    text-align: center;
    align-items: center;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0.5vw 0 #cbcbcb;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password],  input[type=email], input[type=number], input[type=select]{
    padding: 10px;
	border-radius: 15px;
    height: 75px;
    font-size: 25px;
    text-align: center;
    color: #428bca;
    border-color: #428bca;
}

input[type=select] {
    margin: 10px !important;
}

.submit {

    border-radius: 8px !important;
    margin: 10px !important;
    width: 150px !important;
    height: 50px !important;


}

.home-btn {
    width: 50px !important;
    height: 50px !important;
    font-size: 20px !important;
}

.text-muted {
    font-size: 20px !important;
}

.btn-primary {
    /*background-color: #ff007d !important;*/
}

.copyright {
    font-size: 12px;
    font-family: monospace;
}

.big-btn {
	width: 250px !important;
	height: 75px !important;
	box-shadow: 0px 2px 5px #000033 !important; 
	margin: 15px !important;
	border-radius: 8px !important;
}
